body {

    margin: 0;
    padding: 0;

}

.head {

    width: 100%;
    margin-bottom: 20px;
    text-align: center;


}

button {

    font-size: 80px;
    padding: 5px 50px;
    cursor: pointer;
    margin-left: 420px;
    margin-top: 160px;

}

.title {

    width: 70%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color:cornflowerblue;
    display: inline-block;

}

#trial {

    width: 15%;
    display: inline-block;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;

}

.container {

    width: 1215px;
    margin-left: auto;
    margin-right: auto;

}

.card {

    width: 280px;
    height: 220px;
    margin: 10px;
    border-radius: 10px;

    background-color: rgb(19, 105, 155);
    display: inline-block;
    cursor: pointer;
    position: relative;
    /* transition: 0.6s transform linear; */
}

/* .card.card-flipped {

    transform: rotateY(180deg);

} */

.hit {

    opacity: 0;
    cursor: auto;
    transition: all 0.4s ease-in-out;
}
